<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577388184102-iumlma6tp7nogajc0lc4pbirrge6t6f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577388184102-iumlma6tp7nogajc0lc4pbirrge6t6f8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577388184102-400mjsugm1v10bgcq9ubkdfoe4b24lod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCitq3FDRIwfhlQIiunUS5_-pK-NAxeOWE</string>
	<key>GCM_SENDER_ID</key>
	<string>577388184102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FFTCompany.elearninglms</string>
	<key>PROJECT_ID</key>
	<string>elearning-ca768</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-ca768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577388184102:ios:cfca5778f17c05edabdce7</string>
</dict>
</plist>